:root {
   --color-1: #eee;
   --color-2: #ccc;
   --color-3: #aaa;
   --color-4: #888;
   --color-5: #666;
   --color-6: #444;
   --color-7: #222;
}

body, div {
   padding: 0;
   margin: 0;
}

/* Mobile */

.block-1 {
   background-color: var(--color-1);
   width: 100%;
   height: 100px;
}

.block-2 {
   background-color: var(--color-2);
   width: 100%;
   height: 100px;
}

.block-3 {
   background-color: var(--color-3);
   width: 100%;
   height: 100px;
}

.block-4 {
   background-color: var(--color-4);
   width: 100%;
   height: 100px;
}

.block-5 {
   background-color: var(--color-5);
   width: 100%;
   height: 100px;
}

.block-6 {
   background-color: var(--color-6);
   width: 100%;
   height: 300px;
}

.block-7 {
   background-color: var(--color-7);
   width: 100%;
   height: 100px;
}

/* Tablet */

@media screen and (min-width: 768px) {
   .block-1 {
      width: 150px;
      height: 200px;
      float: left;
   }
   .block-2 {
      width: calc(100% - 150px);
      height: 200px;
      float: left;
   }
   .block-3 {
      display: none;
   }
   .block-4 {
      width: 60%;
      height: 100px;
      float: left;
   }
   .block-5 {
      width: 40%;
      height: 100px;
      float: left;
   }
   .block-6 {
      width: 50%;
      height: 400px;
      float: left;
   }
   .block-7 {
      width: 50%;
      height: 400px;
      float: right;
   }
}

/* Desctop */

@media screen and (min-width: 1024px) {
   .block-2 {
      width: calc(100% - 300px);
   }
   .block-3 {
      width: 150px;
      height: 200px;
      display: block;
      float: right;
   }
}
